#ef-footer {
    height: auto;
    background-color: var(--btn-primary-color);
    font-size: 14px;
    padding: 20px;
}

#ef-footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ef-footer .title {
    display: block;
    margin: 0 0 10px;
    font-weight: 900;
    color: var(--ef-background-theme);
}
#ef-footer .social,
#ef-footer .cp-libs {
    width: 300px;
}
#ef-footer ul {
    display: flex;
}
#ef-footer li {
    margin-right: 10px;
}
#ef-footer img {
    height: 20px;
}

