.navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.navigation_anchors{
    display: flex;
    justify-content:space-around;
}
a.ancoras{
    margin:10px;
    text-decoration:inherit;
    color:inherit;
}