@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

:root {
  --ef-color-theme: #F3852E;
  --ef-background-theme: #fff;

  --ef-lg-container: 1250px;
  --ef-md-container: 930px;
  --ef-sm-container: 360px;

  --ef-font-family: sans-serif;

  --btn-primary-color: #F3852E;
  --btn-secondary-color: #fff;

  --btn-hover-primary-color: #fff;
  --btn-hover-secondary-color: #F3852E;

  --color-actions: #ffffff;

  --color-darkest: #222;
  --color-grey: #c7c7c7;
  --color-gray-lighter: #f9f9f9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--color-darkest);
  text-transform: none;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  margin-bottom: 72px;
}
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  text-decoration: none;
  color: unset;
}
.container {
  width: 100%;
  max-width: var(--ef-lg-container);
  margin: 0 auto;
}

/* BOTÕES */
[class^="ef-btn"] {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 28px;
  border-radius: 3px;
  border: 1px solid var(--btn-primary-color);
  text-decoration: none;
  font-size: 12.8px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--btn-primary-color);
  text-transform: uppercase;
  background: var(--btn-secondary-color);
  transition: all 0.15s ease-out;
}

[class^="ef-btn"] span {
  color: inherit;
  white-space: nowrap;
}

[class^="ef-btn"]:hover {
  color: var(--btn-hover-primary-color);
  background: var(--btn-hover-secondary-color);
  cursor: pointer;
}

[class="ef-btn--enter"]::before{
  content: "\003E";
  margin-right: 5px;
}

.ef--btn--category.active {
  font-size: 12.8px;
  font-weight: 700;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 28px;
  border-radius: 2px;
  border: 1px solid var(--btn-secondary-color);
  text-decoration: none;
  font-size: 12.8px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--btn-secondary-color);
  text-transform: uppercase;
  background: var(--btn-primary-color);
  transition: all 0.15s ease-out;
  cursor: pointer;
  margin-right: 8px;

}

.ef--btn--category {
  margin-right: 8px;
  font-size: 12.8px;
  font-weight: 700;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 28px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12.8px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--color-grey);
  text-transform: uppercase;
  background: var(--color-gray-lighter);
  transition: all 0.15s ease-out;
  cursor: pointer;
}
/* .ef--btn--category */